@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.app {
	display: flex;
	min-height: 100vh;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #6030b1;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

nav {
	position: sticky;
	top: 0px;
	scroll-behavior: smooth;
}

button {
	background-color: #6030b1;
	color: #FFF;
	padding: 8px 16px;
	border-radius: none;
	margin-bottom: 1.5rem;
	font-weight: 700;
}

.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 2rem 1rem;
	background-color: #6030b1;
}

.sidebar h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sidebar .menu {
	margin: 0 -1rem;
}


.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	transition: 0.2s linear;
	font-size: 18px;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #C0C0C0;
	border-right: 5px solid #C0C0C0;
}

.sidebar .menu .menu-item:hover {
	border-right: 5px solid #C0C0C0;
}

.flex {
	display: flex;
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.content-row {
	width: 100%;
	max-width: 800px;
	padding: 12px 0;
}

.content-row figure {
	flex: 1;
	display: flex;
	align-items: center;
}

.content-row img {
	width: 100%;
}

.content {
	flex: 1 1 0;
	padding: 2rem;
	width: 100%;
	max-width: 100%;
}

hr {
	margin: 0.75rem 0 1rem 0;
}

.content h1 {
	color: #242424;
	font-size: 2.5rem;
	/*margin-bottom: 1.5rem;*/
}

.content h4 {
	color: darkgrey;
	font-size: 20px;
	margin-bottom: 0.5rem;
}

.content p {
	color: #242424;
	margin-bottom: 1.5rem;
	font-size: 18px;
}

.content ul {
	margin-bottom: 1.5rem;
}

.content li {
	color: #242424;
	margin-left: 30px;
	margin-bottom: 0.5rem;
	font-size: 18px;
}

.image__wrapper--body {
	flex: 1;
	display: flex;
	padding: 2rem;
}

.image {
	width: 100%;
	max-width: 500px;
}

#work-specialization .content-row {
	margin-bottom: 1rem;
}

table {
	margin-bottom: 1.5rem;
	width: 100%;
}

#formalization table,th,td,tr {
	border: 1px solid #242424;
	padding: 8px 12px;
	width: 100%;
}

#formalization span {
	color: #707793;
	font-style: italic;
	padding-left: 25%;
}

#openbitcoin a {
	text-decoration: none;
	color: #fff;
}

#openbitcoin button {
	background-color: #6030b1;
	border-radius: 50px;
	padding: 8px 20px;
}

#packages img {
	margin-bottom: 1rem;
}


.footer-row {
	display: flex;
  	flex-direction: column;
 	align-items: center;
  	justify-content: center;
  	padding: 8% 0;
}

footer a {
	margin-bottom: 20px;
}

footer img {
	width: 210px;
	height: 70px;
}

footer .footer-copyright {
	color: #242424;
}

@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.content {
		padding-top: 4rem;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}

	.sidebar.is-active {
		left: 0;
	}

	.footer-copyright {
		text-align: center;
	}
}
